{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Welcome to your watchlist </h2>
    {% for listing in listings %}
        <h1>{{listing.title}}</h1>
        <div class="card" style="width: 18rem;">
            <img src="{{listing.imageURL}}" class="card-img-top" alt="{{ listing.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <h6 class ="card-title"> ${{listing.price}}</h6>
              <p class="card-text">{{ listing.description }}</p>
              <a href ="{% url 'listing' id=listing.id %}" class="btn btn-primary"> More Details </a>
            </div>
          </div>
    

    {% endfor %}


{% endblock %}