{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

<!-- The contents of this form will be sent to the views.py -->
{% block body %}
    <h1> Edit an existing page here:</h1>

    <form method="POST" action="{% url 'save_edit' %}">
        {% csrf_token %} <!-- Must include this for the method == post-->
        <p>
            <label> Enter New Entry: </label>
        </p>
        <!-- Creating a form whose input will be stored as new_entry-->
        <input type="text" name="title" placeholder="Enter a new entry here" value = "{{ title }}">
        <p>
            <lable> Enter MarkDown Content Here: </lable>
        </p>
        <!-- Creating a textarea whose input will be stored as new_content-->
        <textarea name="content"> {{content}} </textarea> <!-- Ensure that the name for the variable matches the one in views.py under the same function-->
        <br>
        <input class="btn btn-warning" value="Edit" type="submit" name="submit_content" id="submit_content">

    </form>

{% endblock %}
